<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Mercadolibre Frontend test - Error Page">
    <meta name="keywords" content="MercadoLibre, test, frontend, error">
    <meta name="author" content="Ezequiel Manzano">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLibre Lite - Search only - Error Page</title>
</head>

<body>
    <div class="container">
        <div class="error">
            <h1 class="error__title">Hubo un error</h1>
            <p class="error__description"> Hubo un error en su solicitud.</p>
        </div>
        <div class="redirect">
            <a href="/" class="redirect__link">Volver al inicio</a>
        </div>
    </div>
</body>

</html>